
/* Reset all the browser style settings
   This probably may not work for IE

.element {
    all:revert;
  }

  html body * {
    all: revert;
}
*/
body {
    background-color: #9cabb1;
    margin: 0;
  }

nav a {
    font-size: 1.5rem;
    color: #f9f8eb;
    text-transform: uppercase;
}

h1 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2.0rem;
    color: #a399be;
    margin: 0;
}



.name {
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.5rem;
    color: #b2a9cf;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
  }

  .container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

header {
    background-color: #05004e;
    padding: 0.8em 0;
    box-shadow: 2px 2px 10px #f1f6f9;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    }

nav li {
    margin-left: 2em;
}

nav a {
    text-decoration: none;
  }
  
  nav a:hover,
  nav a:focus {
    color: #fd5f00;
  }

@media (max-width: 640px) {
    .container {
      text-align: center;
    }
  
    .container-nav {
      flex-direction: column;
    }
  
    nav ul {
      flex-direction: column;
    }
  
    nav li {
      margin: 0.8em 0;
    }
  }

.about-me-container {
    background-color: #b2a9cf;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    height: auto;
    display:flex;
    justify-content:space-between;
}
.bio-text {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    margin: 30px 20px 5px 10px;
    text-align:justify ;
}
.img-profile {
    width: 300px;
    border-radius: 50%;
}
.img-caption {
   text-align: center;
}
.skills-header, .projects-header, .contact-container{
    display: flex;
    background-color: #bcb7cd;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    height: 40px;
    justify-content:space-between;
}
.skills-container {
    display: flex;
    background-color: #9988cf;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    height: auto;
    justify-content:space-between;
    flex-wrap: wrap;
}
.skill {
    background-color: #f1f6f9;
    color: blueviolet;
    border-radius: .5rem;
    padding: 5px 10px;
}

.projects-container {
    display: flex;
    background-color: #afa6cd;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    height: auto;
    justify-content:space-between;
    flex-wrap: wrap;
 }

.pr-img {
    align-self: center;
    width: 50px;
    height: 50px;
}
.project-item {
    display:flex;
    width:250px;
    justify-content: space-between;
    padding: 5px;
}
.project-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem;
    padding-left: 10px;
}
.contact-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .7rem;
 }
 .contact-container {
justify-content: center;}

@media (max-width: 740px) {
    .about-me-container {
      flex-direction: column;
      justify-content: center;
      margin: auto;
      height: auto;
    }

  }